{% extends "admin/change_form.html" %}
{% block after_field_sets %}

<script type="text/javascript">
    var cardElement = document.querySelector('.card');

    cardElement.insertAdjacentHTML('beforeend', `
        <div class="pdf-viewer" style="padding: 20px; flex:1; height:100vh">
            <div id="loading" style="display: block; text-align: center;">Loading ... </div>
            <object data="{{ first_proposal.url }}" class="pdf-viewer" type="application/pdf" style="width: 100%; height: 100vh;" onload="document.getElementById('loading').style.display = 'none'">
                <p>It appears you don't have a PDF plugin for this browser. You can <a href="{{first_proposal.url}}">click here to download the PDF file.</a></p>
            </object>
        </div>
    `);
</script>

{% endblock %}