{% extends "admin/change_form.html" %}
{% block after_field_sets %}



<script type="text/javascript">
    var cardElement = document.querySelector('.card');

    cardElement.insertAdjacentHTML('beforeend', `
        <div class="pdf-viewer" style="padding: 20px;">
            <div id="loading" style="display: block;text-align: center;">Loading ... </div>
            <object data="{{ request.scheme }}://{{ request.get_host }}/media/{{ first_proposal.file }}" class="pdf-viewer" type="application/pdf" width="500px" height="1000px" onload="document.getElementById('loading').style.display = 'none'">
                <p>It appears you don't have a PDF plugin for this browser. You can <a href="{{ request.scheme }}://{{ request.get_host }}{{ first_proposal.file }}">click here to download the PDF file.</a></p>
            </object>
        </div>
    `);
</script>

</script>
{% endblock %}

