{% extends "admin/change_form.html" %}
{% block after_field_sets %}

<style>
    .container {
        display: flex;
        gap: 20px;
    }

    .pdf-viewer {
        flex: 1;
    }

    .inlines {
        flex: 1;
        white-space: nowrap;
    }
    .form-group label {
        width: 100%;
        display: block;
    }

</style>

<div class="container">
<div class="inlines">
        {% for inline_admin_formset in inline_admin_formsets %}
            <fieldset class="module aligned {{ inline_admin_formset.formset.prefix }}">
                <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
                {{ inline_admin_formset.formset.management_form }}
                {% for inline_admin_form in inline_admin_formset %}
                    {% if inline_admin_form.form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ inline_admin_form.form.non_field_errors }}
                        </div>
                    {% endif %}
                    {% for fieldset in inline_admin_form %}
                        {% for line in fieldset %}
                            {% for field in line %}
                                <div class="form-group {% if field.field.errors %}has-error{% endif %}">
                                    {{ field.field.label_tag }}
                                    {{ field.field }}
                                    {% if field.field.help_text %}
                                        <p class="help-block">{{ field.field.help_text }}</p>
                                    {% endif %}
                                    {% if field.field.errors %}
                                        <p class="help-block">{{ field.field.errors.as_text }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </fieldset>
        {% endfor %}
    </div> 
    <div class="pdf-viewer">
        <object data="{{ request.scheme }}://{{ request.get_host }}/media/{{ first_proposal.file }}" class="pdf-viewer" type="application/pdf" width="500px" height="1000px">
            <p>It appears you don't have a PDF plugin for this browser. You can <a href="{{ request.scheme }}://{{ request.get_host }}{{ first_proposal.file }}">click here to download the PDF file.</a></p>
        </object>
    </div>

</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        console.log(document.documentElement.innerHTML);
        var checkboxes = document.querySelectorAll('input[type="checkbox"][name^="assessment_values_1-"][name$="-key_assesment"]');
        console.log(checkboxes);
        checkboxes.forEach(function(checkbox) {
            if (checkbox) {
                // Handle the checkbox input
                checkbox.addEventListener('change', function() {
                    console.log('Checkbox value:', checkbox.value);
                    console.log('Checkbox checked:', checkbox.checked);
                });
            }
        });
    });
</script>
{% endblock %}

