<!DOCTYPE html>
<html>

<head>
    <title>HTML email template</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
</head>

<body style="background-color: #ffffff; font-size: 16px;">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
            <tr>
                <td align="center" bgcolor="#ffffff" style="padding:10px">
                    <a href="https://techconsulta.com">
                        <img src="https://techconsulta.com/_next/image?url=%2Fimages%2Fhome-page%2Fheader%2Flogo.png&w=1920&q=75" style="max-width: 50%; height: auto;">
                    </a>
                </td>
            </tr>
            <!-- BEGIN EMAIL -->
            <tr>
                <td align="center" bgcolor="#ffffff" style="padding:30px">
                    <p style="text-align:left">Hello, {{ first_name }} {{ last_name }}<br><br> Thank you for entrusting Tech Consulta. We are a platform-based technology consulting firm that helps deliver solutions for companies tech projects and software development outsource on demand. Based in Indonesia, our consultants help connect local world-class software engineers with world-class companies
                    </p>
                    <p>Before we get started, we need to verify that you really own this account.</p>
                    <p>Click the button below to verify this email address.</p>
                    <p>
                        <a href="https://techconsulta.com/thanks-for-register/{{user_id}}/{{ user_uuid}}" style="color: whitesmoke;">
                            <button type="button"
                                style="border-radius: 12px;background-color: #34a853;color: whitesmoke;border: none;font-size: 16px;padding: 14px 40px;">
                                Verify Email Address
                            </button>
                        </a>
                    </p>
                    <p style="text-align:left">After the verification process, our team will check the completeness and suitability of your account. If there are problems with the process, we will immediately contact you via email listed during registration.</a><br>
                    </p>
                    <p style="text-align:left">
                        Tech Consulta Team
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</body>

</html>