{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:yourapp_proposal_changelist' %}">{% trans 'Proposals' %}</a>
    &rsaquo; {% trans 'Assign Lecturer' %}
</div>

<h1>{% trans 'Assign Lecturer to Selected Proposals' %}</h1>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}

    <input type="submit" name="apply" value="{% trans 'Apply' %}">
</form>

{% endblock %}
